.container-c{
    display: flex;
    flex-direction: column;
}

.container-d{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cartItem{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 175px;
    width: 100%;
}

.imageInformation img{
    max-height: 150px;
    max-width: 75px;
}


h7{
    margin: 0;
}

.characteristics{
    position: absolute;
    top: 45%;
    left: 3%;
}


.characteristics img{
    height: 20px;
    width: 20px;
}

.characteristics:hover{
    cursor: pointer;
}