.container-c h3{
    font-size: 23px;
}

.container-c button{
    margin: 0 5px 0 5px;
}

.container-z{
    max-width: 1400px;
    align-self: center;
}

.container-c{
    display: flex;
    flex-direction: column;
    font-family: Arapey;
    min-width: 1250px;
}
.container-d{
    margin: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cartItem{
    font-family: Arapey;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 175px;
    width: 100%;
}

.imageInformation img{
    max-height: 150px;
    max-width: 75px;
}

h7{
    margin: 0;
}

.characteristics{
    position: absolute;
    top: 45%;
    left: 3%;
}

.characteristics img{
    height: 20px;
    width: 20px;
}

.characteristics:hover{
    cursor: pointer;
}

@media( max-width: 1225px){
    .container-c{
        min-width: 800px;
    }
}

@media( max-width: 900px){
    .container-c{
        margin-top: 60px;
    }
}

@media( max-width: 825px){
    .container-c{
        min-width: 650px;
    }
}

@media( max-width: 655px){
    .container-c{
        min-width: 400px;
    }

    .container-c h3{
        font-size: 15px;
    }

    .imageInformation img {
        max-height: 75px;
        max-width: 32px;
    }

    .characteristics img{
        height: 10px;
        width: 10px;
    }

    .characteristics{
        position: absolute;
        top: 40%;
        left: 3%;
    }
}

@media(max-width: 400px){
    .container-c{
        min-width: 350px;
    }
}

@media(max-width: 320px){
    .container-c{
        min-width: 250px;
    } 

    .characteristics img{
        height: 0;
        width: 0;
    }

    .cartItem img{
        margin-right: 10px;
    }

    .cartItem p{
        margin-right: 10px;
    }
}